
.big{
    padding: 50px;
    display: flex;
    justify-content: center;
}
#rao1{
    width: 80%;
    height: 1200px;
    /* border: 1px solid black; */
    
}
#rao1>img{
    width: 120px;
    height: 46px;
    padding-left: 6px;
}
#rao2{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    line-height: 14px;
    justify-content: space-between;
    
}
#rao3>img{
    width: 120px;
    padding-top: 12px;
    margin-top: -15%;
}
#rao4{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#rao5>p{
    display: flex;
    word-spacing: 1rem;
    line-height: 32px;
    letter-spacing: 1.px;
}
#rao8{
    display: flex;
    justify-content: center;
}
#rao9{
    left: 10%;
    margin-right: -5px;

}
#rao10{
    left:10%;
    margin-right: -90px;
}
#rao11{
    margin-right: -50px;
}
#rao12{
    margin-right: -125px;
    margin-top: -2%;
}
#rao9>h4{
    font-size: 15.48px;
}
.expe{
    cursor: pointer;
}