@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,300&display=swap');

body{
    background-color: whitesmoke;
}

*{
    font-family: Lato;
}

#topDiv{
    border: 1px solid white;
    width: 100%;
    height: 240px;
    background-color: rgba(240, 236, 236, 0.623);
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#firstDiv{
    height: 20px;
}
#secondDiv{
    height: 90px;
    width: 100%;
    background-color: white;
}
#thirdDiv{
    background-color: rgba(240, 236, 236, 0.623);
    height: 50%;
}
#firstDiv>div{
    display: flex;
    
    width: 100%;
    height: 20px;
    margin: auto;
    background-color: lavender;

}

#tfd{
   
    width: 30%;
    height: 15px;
    margin: auto;
    background-color: lavender;
    font-family: Lato;
}
#tfd>p{
    font-size: 11px;
    font-weight: 600;
    margin: auto;
    text-align: center;
}
.bulletDots{
    width: 8px;
    height: 4px;
    margin-left: 10px;
    margin-bottom: 2px;
    margin-right: 10px;
}
#apple{
    margin-left: 5px;
    width: 14px;
    height: 11px;
}
#playStore{
    margin-left: 5px;
    width: 14px;
    height: 11px;
}
#tfd1{
    width: 35%;
    height: 15px;
    margin: auto;
    background-color: lavender;
    font-family: Lato;
}
#tfd1>p{
    font-size: 11px;
    font-weight: 600;    
    margin: auto;
    text-align: center;
}

#secondDiv>div{
    display: flex;
    border: 1px solid white;
    width: 100%;
    height: 88px;
    justify-content: center;
}

#tsd{
    width: 11%;
}
#LiciousLogo{
    padding: 25px;
    width: 95px;
    height: 36.67px;
}
#tsd1{
    display: flex;
    
    width: 12%;
}
#locimg{
   
    width: 25px;
    height: 25px;
    margin-top: 25px;
}

#loctext{
    width: 150px;
    height: 70px;
    margin: auto;
}
#loctext>p{
    font-family: Lato;
    font-size: 12px;
    font-weight: bolder;
    margin: auto;
    margin-left: 4px;
    margin-top: 18px;
    
}
#location{
    margin-top: 5px;
    width: 85px;
    border: none;
}
#tsd2{
    width: 35%;
}

#tsd3{
    display: flex;
    
    width: 8%;
}

.login{
    border: 1px solid black;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 50px;
    margin-top: 15px;
}
.login>img{
    padding: 7.5px;
}
#login{
  
    height: 30px;
    width: 60px;
    margin-top: 10px;
    margin-left: 3px;
}
#logintext{
    font-family: Lato;
    font-size: 13px;
    font-weight: bolder;
    margin-left: 5px;
    color: black;
    margin: auto;
    border: none;
    background-color: white;
    cursor: pointer;
}
#logintext:hover{

    color: red;
    border: none;
}
#tsd4{
    display: flex;
    width: 8%;
}
.Cart{
    width: 25px;
    height: 25px;
    margin-top: 25px;
}
#carttext{
    
    height: 30px;
    width: 60px;
    margin-top: 25px;
    margin-left: 3px;
}
.textforcard{
    
    font-family: Lato;
    font-size: 13px;
    font-weight: bolder;
}



#liciousway{
    width: 70%;
    height: 130px;
    margin: auto;
    margin-top: 10px;
}
#liciousway>img{
    width: 100%;
    height: 130px;
}


/* footerContainer start*/

#footerdiv{
    /* border: 1px solid black; */
    
    width: 100%;
    height: 1100px;
    margin: auto;
    margin-top: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* footerContainer close*/